.header-dark-mode-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: none;
    height: 35px;
    color: var(--text-color);
}

.moon-svg  {
    height: 16px;
    fill: var(--text-color);
}

.dark-mode-text {
    font-size: .8rem;
    font-weight: 600;

}

@media (min-width: 600px) {
    .dark-mode-text {
        font-size: 1rem;
        margin-right: 40px;
    }

    .moon-svg {
        height: 20px;
    }
}