.country-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.country-card {
    width: 80%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .5);
    margin-bottom: 40px;
    border-radius: 5px;
}

.country-card-link {
    color: black;
    text-decoration: none;
}

.country-card-text-container {
    padding: 10px 20px 40px 20px;
}

.country-card-img {
    border-radius: 5px 5px 0px 0px;
    width: 100%;
}

.country-card-name {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 25px;
}

.country-card-content {
    line-height: 10px;
}

.country-card-content-strong {
    font-weight: 600;
}

.searchbar-filter {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
}

.search-svg {
    position: absolute;
    top: 145px;
    margin-left: 20px;
    z-index: 100;
}

.searchbar {
    width: 80%;
    max-width: 500px;
    height: 48px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, .5);
    margin-bottom: 50px;
    padding-left: 60px;
}

.searchbar::placeholder {
    color: #B2B2B2;
}

.custom-select {
    width: 200px;
    margin-bottom: 30px;
    position: relative;
}
  
.custom-select select {
    appearance: none;
    width: 200px;
    height: 50px;
    font-size: 1.15rem;
    border: none;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-size: .9rem;
    padding-left: 20px;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, .5);
}

.custom-select::before,
.custom-select::after {
  position: absolute;
  right: 20px;
  pointer-events: none;
  background-color: transparent;
  z-index: 1;
}

.custom-select::after {
  top: 30%;
  content: '˅';
  font-size: 1rem;

}


/* .region-filter {
    width: 200px;
    height: 48px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .5);
    margin-bottom: 30px;
    padding: 0px 10px 0px 10px ;
} */

