<div class="country-cards">

    <div class="searchbar-filter">
        
        <svg class="search-svg" height="22px" width="22px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50" enable-background="new 0 0 18 18" xml:space="preserve">
            <path d="M20.745,32.62c2.883,0,5.606-1.022,7.773-2.881L39.052,40.3c0.195,0.196,0.452,0.294,0.708,0.294
            c0.255,0,0.511-0.097,0.706-0.292c0.391-0.39,0.392-1.023,0.002-1.414L29.925,28.319c3.947-4.714,3.717-11.773-0.705-16.205
            c-2.264-2.27-5.274-3.52-8.476-3.52s-6.212,1.25-8.476,3.52c-4.671,4.683-4.671,12.304,0,16.987
            C14.533,31.37,17.543,32.62,20.745,32.62z M13.685,13.526c1.886-1.891,4.393-2.932,7.06-2.932s5.174,1.041,7.06,2.932
            c3.895,3.905,3.895,10.258,0,14.163c-1.886,1.891-4.393,2.932-7.06,2.932s-5.174-1.041-7.06-2.932
            C9.791,23.784,9.791,17.431,13.685,13.526z"/>
        </svg>
        <input class="searchbar" type="text" (input)="updateSearchName($event)" placeholder="Search for a country..." />
        <div class="custom-select">
            <select class="region-filter" (input)="updateRegion($event)"> 
                <option value="">Filter by Region</option>
                <option value="Africa">Africa</option>
                <option value="Americas">America</option>
                <option value="Asia">Asia</option>
                <option value="Europe">Europe</option>
                <option value="Oceania">Oceania</option>
                <option value="Antarctic">Antarctic</option>
            </select>
        </div>
    </div>
    
    <div class="country-cards-container">
        <ng-container *ngFor="let country of allCountriesData">
            <div class="country-card" *ngIf="(countryRegionFilter === '' ? true : (country.region === countryRegionFilter)) && (country.name.common).toLowerCase().includes((countryNameFilter).toLowerCase())">
                <a class="country-card-link" [routerLink]="['/country-detail', country.name.common]" routerLinkActive="active" >
                    <img class="country-card-img" src='{{country.flags.svg}}'>
                    <div class="country-card-text-container">
                        <h2 class="country-card-name">{{country.name.common}}</h2>
                        <p class="country-card-content"><strong class="country-card-content-strong">Population: </strong>{{country.population | number:'1.0':'en-US'}}</p>
                        <p class="country-card-content"><strong class="country-card-content-strong">Region:</strong> {{country.region}}</p>
                        <p class="country-card-content"><strong class="country-card-content-strong">Capital:</strong> {{country.capital}}</p>
                    </div>
                </a>
            </div>
        </ng-container>
    </div>
    
</div>

<router-outlet>
  
</router-outlet>
