/* You can add global styles to this file, and also import other style files */

body {
    margin: 0px;
    background-color: var(--background-color);
}

img {
    width: 100%;
}

* {
    font-family: "Nunito Sans", system-ui;
    font-weight: 400;
    font-style: normal;
}

button:hover {
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}
/* 
.dark-theme {
    background-color: #202C36;
    color: #ffffff;
} */

body {
    --text-color: #000000;
    --background-color: #ffffff;
    --btn-text-color: #000000;
    --btn-background-color: #ffffff;
    --other-background-color: #ffffff;
    --box-shadow: rgba(0, 0, 0, .5);
}

body.dark-theme {
    --text-color: #ffffff;
    --background-color: #202C36;
    --btn-text-color: #ffffff;
    --btn-background-color: #2B3844;
    --other-background-color: #2B3844;
    --box-shadow: rgba(32, 44, 54, 0)
}